body{
    background: #ffffff;
}
.ctn-chat{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 710px;
    min-height: 500px;
    height: 500px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

